In [103]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

In [104]:
data = pd.read_csv('data/3dfsMerged.csv')

In [105]:
data.head()

,name,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,...,Asian,Black,Hispanic,Native Hawaiian / Pacific Islander,White,Two Or More Races,Unknown,Non-Resident Foreign,Total Minority,total_enrollment
0,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,...,0.046964,0.329897,0.089347,0.002291,0.325315,0.059565,0.026346,0.119129,0.529210,873.0
1,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,...,0.017271,0.022453,0.025907,0.006908,0.554404,0.070812,0.151986,0.000000,0.293610,579.0
2,Albertus Magnus College,Yes,353,340,103,17,45,416,230,13290,...,0.004516,0.332258,0.140000,0.001290,0.417419,0.012903,0.080645,0.007097,0.494839,1550.0
3,Albion College,Yes,1899,1720,489,37,68,1594,32,13868,...,0.018139,0.037066,0.036278,0.000789,0.787855,0.026025,0.062303,0.029180,0.120662,1268.0
4,Alma College,Yes,1267,1080,385,44,73,1306,28,12572,...,0.015043,0.032951,0.036533,0.000716,0.832378,0.025788,0.040115,0.010029,0.117479,1396.0

In [106]:
data

,name,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,...,Asian,Black,Hispanic,Native Hawaiian / Pacific Islander,White,Two Or More Races,Unknown,Non-Resident Foreign,Total Minority,total_enrollment
0,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,...,0.046964,0.329897,0.089347,0.002291,0.325315,0.059565,0.026346,0.119129,0.529210,873.0
1,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,...,0.017271,0.022453,0.025907,0.006908,0.554404,0.070812,0.151986,0.000000,0.293610,579.0
2,Albertus Magnus College,Yes,353,340,103,17,45,416,230,13290,...,0.004516,0.332258,0.140000,0.001290,0.417419,0.012903,0.080645,0.007097,0.494839,1550.0
3,Albion College,Yes,1899,1720,489,37,68,1594,32,13868,...,0.018139,0.037066,0.036278,0.000789,0.787855,0.026025,0.062303,0.029180,0.120662,1268.0
4,Alma College,Yes,1267,1080,385,44,73,1306,28,12572,...,0.015043,0.032951,0.036533,0.000716,0.832378,0.025788,0.040115,0.010029,0.117479,1396.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,Wofford College,Yes,1501,935,273,51,83,1059,34,12680,...,0.028347,0.075392,0.032569,0.001809,0.799759,0.031966,0.004825,0.023522,0.171894,1658.0
354,Worcester Polytechnic Institute,Yes,2768,2314,682,49,86,2802,86,15884,...,0.046074,0.020373,0.061746,0.000000,0.555556,0.026328,0.077574,0.211566,0.155305,6381.0
355,Xavier University,Yes,1959,1805,695,24,47,2849,1107,11520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,Xavier University of Louisiana,Yes,2097,1915,695,34,61,2793,166,6900,...,0.129032,0.701613,0.025874,0.000000,0.070901,0.026210,0.012769,0.032258,0.884073,2976.0
357,Yale University,Yes,10705,2453,1317,95,99,5217,83,19840,...,0.128161,0.054718,0.076119,0.000405,0.478761,0.044342,0.019536,0.193985,0.307717,12336.0

In [107]:
data.columns

Index(['name', 'Private', 'Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
       'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books',
       'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend',
       'Grad.Rate', 'rank', 'state_name', 'early_career_pay', 'mid_career_pay',
       'make_world_better_percent', 'stem_percent', 'Women',
       'American Indian / Alaska Native', 'Asian', 'Black', 'Hispanic',
       'Native Hawaiian / Pacific Islander', 'White', 'Two Or More Races',
       'Unknown', 'Non-Resident Foreign', 'Total Minority',
       'total_enrollment'],
      dtype='object')

In [108]:
drop_cols = ['Top25perc','Top25perc','Outstate', 'Room.Board', 'Books',
       'Personal','PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni','rank', 'state_name', 'early_career_pay', 'mid_career_pay',
       'make_world_better_percent','total_enrollment']

In [109]:
colleges = data.drop(drop_cols, axis=1)

In [110]:
colleges

,name,Private,Apps,Accept,Enroll,Top10perc,F.Undergrad,P.Undergrad,Expend,Grad.Rate,...,American Indian / Alaska Native,Asian,Black,Hispanic,Native Hawaiian / Pacific Islander,White,Two Or More Races,Unknown,Non-Resident Foreign,Total Minority
0,Agnes Scott College,Yes,417,349,137,60,510,63,19016,59,...,0.001145,0.046964,0.329897,0.089347,0.002291,0.325315,0.059565,0.026346,0.119129,0.529210
1,Alaska Pacific University,Yes,193,146,55,16,249,869,10922,15,...,0.150259,0.017271,0.022453,0.025907,0.006908,0.554404,0.070812,0.151986,0.000000,0.293610
2,Albertus Magnus College,Yes,353,340,103,17,416,230,8861,63,...,0.003871,0.004516,0.332258,0.140000,0.001290,0.417419,0.012903,0.080645,0.007097,0.494839
3,Albion College,Yes,1899,1720,489,37,1594,32,11487,73,...,0.002366,0.018139,0.037066,0.036278,0.000789,0.787855,0.026025,0.062303,0.029180,0.120662
4,Alma College,Yes,1267,1080,385,44,1306,28,9305,68,...,0.006447,0.015043,0.032951,0.036533,0.000716,0.832378,0.025788,0.040115,0.010029,0.117479
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,Wofford College,Yes,1501,935,273,51,1059,34,7875,75,...,0.001809,0.028347,0.075392,0.032569,0.001809,0.799759,0.031966,0.004825,0.023522,0.171894
354,Worcester Polytechnic Institute,Yes,2768,2314,682,49,2802,86,10774,82,...,0.000784,0.046074,0.020373,0.061746,0.000000,0.555556,0.026328,0.077574,0.211566,0.155305
355,Xavier University,Yes,1959,1805,695,24,2849,1107,9189,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,Xavier University of Louisiana,Yes,2097,1915,695,34,2793,166,8323,49,...,0.001344,0.129032,0.701613,0.025874,0.000000,0.070901,0.026210,0.012769,0.032258,0.884073
357,Yale University,Yes,10705,2453,1317,95,5217,83,40386,99,...,0.003972,0.128161,0.054718,0.076119,0.000405,0.478761,0.044342,0.019536,0.193985,0.307717

In [111]:
colleges['acceptance_rate'] = colleges['Accept'] / colleges['Apps']

In [112]:
colleges['top10'] = colleges['Top10perc'] / colleges['Enroll']

In [113]:
colleges['stem_percent'] = colleges['stem_percent'] / 100

In [114]:
colleges['grad_rate'] = colleges['Grad.Rate'] / 100

In [115]:
colleges['diversity_score'] = 1 - colleges['White']

In [116]:
for i in colleges.index:
    if colleges.iloc[i]['Private'] == 'Yes':
        colleges.loc[i, ['Private']] = 1
    else:
        colleges.loc[i, ['Private']] = 0

In [117]:
colleges.loc[0, ['Private']]

Private    1
Name: 0, dtype: object

In [118]:
colleges

,name,Private,Apps,Accept,Enroll,Top10perc,F.Undergrad,P.Undergrad,Expend,Grad.Rate,...,Native Hawaiian / Pacific Islander,White,Two Or More Races,Unknown,Non-Resident Foreign,Total Minority,acceptance_rate,top10,grad_rate,diversity_score
0,Agnes Scott College,1,417,349,137,60,510,63,19016,59,...,0.002291,0.325315,0.059565,0.026346,0.119129,0.529210,0.836930,0.437956,0.59,0.674685
1,Alaska Pacific University,1,193,146,55,16,249,869,10922,15,...,0.006908,0.554404,0.070812,0.151986,0.000000,0.293610,0.756477,0.290909,0.15,0.445596
2,Albertus Magnus College,1,353,340,103,17,416,230,8861,63,...,0.001290,0.417419,0.012903,0.080645,0.007097,0.494839,0.963173,0.165049,0.63,0.582581
3,Albion College,1,1899,1720,489,37,1594,32,11487,73,...,0.000789,0.787855,0.026025,0.062303,0.029180,0.120662,0.905740,0.075665,0.73,0.212145
4,Alma College,1,1267,1080,385,44,1306,28,9305,68,...,0.000716,0.832378,0.025788,0.040115,0.010029,0.117479,0.852407,0.114286,0.68,0.167622
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,Wofford College,1,1501,935,273,51,1059,34,7875,75,...,0.001809,0.799759,0.031966,0.004825,0.023522,0.171894,0.622918,0.186813,0.75,0.200241
354,Worcester Polytechnic Institute,1,2768,2314,682,49,2802,86,10774,82,...,0.000000,0.555556,0.026328,0.077574,0.211566,0.155305,0.835983,0.071848,0.82,0.444444
355,Xavier University,1,1959,1805,695,24,2849,1107,9189,83,...,NaN,NaN,NaN,NaN,NaN,NaN,0.921388,0.034532,0.83,NaN
356,Xavier University of Louisiana,1,2097,1915,695,34,2793,166,8323,49,...,0.000000,0.070901,0.026210,0.012769,0.032258,0.884073,0.913209,0.048921,0.49,0.929099
357,Yale University,1,10705,2453,1317,95,5217,83,40386,99,...,0.000405,0.478761,0.044342,0.019536,0.193985,0.307717,0.229145,0.072134,0.99,0.521239

In [119]:
colleges.columns

Index(['name', 'Private', 'Apps', 'Accept', 'Enroll', 'Top10perc',
       'F.Undergrad', 'P.Undergrad', 'Expend', 'Grad.Rate', 'stem_percent',
       'Women', 'American Indian / Alaska Native', 'Asian', 'Black',
       'Hispanic', 'Native Hawaiian / Pacific Islander', 'White',
       'Two Or More Races', 'Unknown', 'Non-Resident Foreign',
       'Total Minority', 'acceptance_rate', 'top10', 'grad_rate',
       'diversity_score'],
      dtype='object')

In [120]:
colleges = colleges.drop(['Apps', 'Accept', 'Enroll', 'Top10perc','P.Undergrad','American Indian / Alaska Native', 'Asian', 'Black',
       'Hispanic', 'Native Hawaiian / Pacific Islander', 'White',
       'Two Or More Races', 'Unknown', 'Non-Resident Foreign',
       'Total Minority', 'Grad.Rate'], axis=1)

In [121]:
colleges

,name,Private,F.Undergrad,Expend,stem_percent,Women,acceptance_rate,top10,grad_rate,diversity_score
0,Agnes Scott College,1,510,19016,0.26,0.993127,0.836930,0.437956,0.59,0.674685
1,Alaska Pacific University,1,249,10922,0.06,0.663212,0.756477,0.290909,0.15,0.445596
2,Albertus Magnus College,1,416,8861,0.02,0.665161,0.963173,0.165049,0.63,0.582581
3,Albion College,1,1594,11487,0.23,0.497634,0.905740,0.075665,0.73,0.212145
4,Alma College,1,1306,9305,0.15,0.547278,0.852407,0.114286,0.68,0.167622
...,...,...,...,...,...,...,...,...,...,...
353,Wofford College,1,1059,7875,0.28,0.513872,0.622918,0.186813,0.75,0.200241
354,Worcester Polytechnic Institute,1,2802,10774,0.86,0.311707,0.835983,0.071848,0.82,0.444444
355,Xavier University,1,2849,9189,0.07,NaN,0.921388,0.034532,0.83,NaN
356,Xavier University of Louisiana,1,2793,8323,0.35,0.725470,0.913209,0.048921,0.49,0.929099
357,Yale University,1,5217,40386,0.22,0.489705,0.229145,0.072134,0.99,0.521239

In [122]:
colleges = colleges.dropna()

In [123]:
colleges.loc[colleges['Women'].isna()]

Empty DataFrame
Columns: [name, Private, F.Undergrad, Expend, stem_percent, Women, acceptance_rate, top10, grad_rate, diversity_score]
Index: []

In [124]:
colleges

,name,Private,F.Undergrad,Expend,stem_percent,Women,acceptance_rate,top10,grad_rate,diversity_score
0,Agnes Scott College,1,510,19016,0.26,0.993127,0.836930,0.437956,0.59,0.674685
1,Alaska Pacific University,1,249,10922,0.06,0.663212,0.756477,0.290909,0.15,0.445596
2,Albertus Magnus College,1,416,8861,0.02,0.665161,0.963173,0.165049,0.63,0.582581
3,Albion College,1,1594,11487,0.23,0.497634,0.905740,0.075665,0.73,0.212145
4,Alma College,1,1306,9305,0.15,0.547278,0.852407,0.114286,0.68,0.167622
...,...,...,...,...,...,...,...,...,...,...
352,Wittenberg University,1,1980,10414,0.22,0.569246,0.878727,0.073043,0.78,0.197556
353,Wofford College,1,1059,7875,0.28,0.513872,0.622918,0.186813,0.75,0.200241
354,Worcester Polytechnic Institute,1,2802,10774,0.86,0.311707,0.835983,0.071848,0.82,0.444444
356,Xavier University of Louisiana,1,2793,8323,0.35,0.725470,0.913209,0.048921,0.49,0.929099
357,Yale University,1,5217,40386,0.22,0.489705,0.229145,0.072134,0.99,0.521239

In [125]:
from sklearn.preprocessing import MinMaxScaler

In [126]:
scaler = MinMaxScaler(feature_range=(0,1))

In [127]:
colleges[['F.Undergrad','Expend']] = scaler.fit_transform(colleges[['F.Undergrad','Expend']])

/tmp/ipykernel_3142/1646702672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colleges[['F.Undergrad','Expend']] = scaler.fit_transform(colleges[['F.Undergrad','Expend']])

In [128]:
colleges

,name,Private,F.Undergrad,Expend,stem_percent,Women,acceptance_rate,top10,grad_rate,diversity_score
0,Agnes Scott College,1,0.009890,0.291024,0.26,0.993127,0.836930,0.437956,0.59,0.674685
1,Alaska Pacific University,1,0.000000,0.136835,0.06,0.663212,0.756477,0.290909,0.15,0.445596
2,Albertus Magnus College,1,0.006328,0.097573,0.02,0.665161,0.963173,0.165049,0.63,0.582581
3,Albion College,1,0.050964,0.147598,0.23,0.497634,0.905740,0.075665,0.73,0.212145
4,Alma College,1,0.040052,0.106031,0.15,0.547278,0.852407,0.114286,0.68,0.167622
...,...,...,...,...,...,...,...,...,...,...
352,Wittenberg University,1,0.065591,0.127157,0.22,0.569246,0.878727,0.073043,0.78,0.197556
353,Wofford College,1,0.030692,0.078790,0.28,0.513872,0.622918,0.186813,0.75,0.200241
354,Worcester Polytechnic Institute,1,0.096738,0.134015,0.86,0.311707,0.835983,0.071848,0.82,0.444444
356,Xavier University of Louisiana,1,0.096396,0.087324,0.35,0.725470,0.913209,0.048921,0.49,0.929099
357,Yale University,1,0.188246,0.698118,0.22,0.489705,0.229145,0.072134,0.99,0.521239

In [129]:
from sklearn.cluster import KMeans

In [130]:
kmeans = KMeans(n_clusters=40, init='k-means++', random_state=42)

In [131]:
kmeans.fit(colleges.drop(['name'], axis=1))

KMeans(n_clusters=40, random_state=42)

In [132]:
kmeans.labels_

array([29, 38,  9, 10, 10, 35,  9,  8, 15, 21, 33, 12,  9, 22,  9, 33,  5,
       16, 28,  5, 20, 35, 23,  1, 35, 27, 23,  0, 23, 28, 27,  7, 23, 16,
       18, 16, 10, 10, 25, 39, 10, 28, 34,  4,  1, 31,  8,  5, 11, 11, 39,
       33, 11, 11, 11, 29, 10, 23, 35, 11, 13, 23, 23, 23, 15, 37, 23, 23,
        1, 14, 21, 39, 25, 10, 14, 15, 18,  2, 38, 18, 24, 21,  1, 34, 13,
       28,  0, 33,  6,  0,  2, 22,  1, 22, 27, 23,  9, 17, 37, 10,  5, 19,
       32, 16, 10, 22, 10, 10, 16,  7, 21, 11, 39,  3, 21, 30,  5, 23, 19,
       15, 21, 16,  8, 16,  2,  1,  1, 27,  1,  0, 13, 10, 27, 18, 16,  5,
       28, 34,  1, 22, 23, 22, 15, 11, 27, 27, 23, 16,  9,  5, 35, 15, 28,
        1, 23,  3,  6, 33, 10, 31, 28, 39, 13, 25, 26, 33, 33,  2, 39,  6,
       20, 23,  9, 23, 39, 20,  0, 21, 34, 14, 17, 39, 11,  9, 23, 21, 23,
       16, 18, 10, 23, 16, 15,  2, 35,  2,  3,  8, 25,  1, 31, 10, 22, 10,
       10,  5, 16,  2, 23,  2, 22,  2,  9, 33,  1, 22,  1, 22, 12,  8, 39,
       34, 22,  2, 36, 33, 22,  7,  2, 28,  2, 22, 10,  1, 37,  0,  3, 24,
        0, 28, 14, 39, 18, 23, 20,  5,  9, 16, 23,  3, 21, 22,  3,  0, 33,
       21,  0, 25, 13, 15,  3, 21, 20,  3, 39, 25, 39, 28, 25, 21, 28,  8,
       30, 39, 39, 25,  0,  8, 11,  0, 14, 10,  5, 39, 11, 14, 22,  9,  2,
       25,  0, 20,  0, 18, 21,  8, 30,  3,  8,  8,  3,  0, 39, 15, 23, 14,
        2,  0, 24, 17, 19, 10, 21, 15,  9, 12, 17, 10, 39, 21,  8, 11, 28,
       22, 33, 35,  8, 13, 33, 23,  5, 31, 37, 19], dtype=int32)

In [133]:
colleges['kmeans_cluster'] = kmeans.labels_

/tmp/ipykernel_3142/3994702276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colleges['kmeans_cluster'] = kmeans.labels_

In [134]:
colleges

,name,Private,F.Undergrad,Expend,stem_percent,Women,acceptance_rate,top10,grad_rate,diversity_score,kmeans_cluster
0,Agnes Scott College,1,0.009890,0.291024,0.26,0.993127,0.836930,0.437956,0.59,0.674685,29
1,Alaska Pacific University,1,0.000000,0.136835,0.06,0.663212,0.756477,0.290909,0.15,0.445596,38
2,Albertus Magnus College,1,0.006328,0.097573,0.02,0.665161,0.963173,0.165049,0.63,0.582581,9
3,Albion College,1,0.050964,0.147598,0.23,0.497634,0.905740,0.075665,0.73,0.212145,10
4,Alma College,1,0.040052,0.106031,0.15,0.547278,0.852407,0.114286,0.68,0.167622,10
...,...,...,...,...,...,...,...,...,...,...,...
352,Wittenberg University,1,0.065591,0.127157,0.22,0.569246,0.878727,0.073043,0.78,0.197556,23
353,Wofford College,1,0.030692,0.078790,0.28,0.513872,0.622918,0.186813,0.75,0.200241,5
354,Worcester Polytechnic Institute,1,0.096738,0.134015,0.86,0.311707,0.835983,0.071848,0.82,0.444444,31
356,Xavier University of Louisiana,1,0.096396,0.087324,0.35,0.725470,0.913209,0.048921,0.49,0.929099,37
357,Yale University,1,0.188246,0.698118,0.22,0.489705,0.229145,0.072134,0.99,0.521239,19

In [136]:
colleges.loc[colleges['kmeans_cluster'] == 9]

,name,Private,F.Undergrad,Expend,stem_percent,Women,acceptance_rate,top10,grad_rate,diversity_score,kmeans_cluster
2,Albertus Magnus College,1,0.006328,0.097573,0.02,0.665161,0.963173,0.165049,0.63,0.582581,9
6,Andrews University,1,0.050661,0.136568,0.07,0.463136,0.623009,0.043478,0.46,0.694851,9
12,Barry University,1,0.059187,0.101821,0.12,0.656140,0.791919,0.064516,0.72,0.767199,9
14,Belmont Abbey College,1,0.017430,0.072599,0.07,0.570513,0.781646,0.131783,0.52,0.595513,9
102,Hamline University,1,0.042173,0.124910,0.05,0.619825,0.820080,0.103659,0.65,0.495413,9
155,Marymount University,1,0.037816,0.092125,0.15,0.683232,0.820404,0.046729,0.55,0.528625,9
180,North Carolina Wesleyan College,1,0.015043,0.120985,0.08,0.581731,0.848522,0.035897,0.52,0.699252,9
192,Oglethorpe University,1,0.019704,0.091991,0.12,0.583181,0.819444,0.301075,0.67,0.663620,9
225,Saint Xavier University,1,0.053844,0.099326,0.10,0.688191,0.824204,0.050847,0.55,0.491039,9
262,University of Detroit Mercy,1,0.071994,0.136244,0.13,0.596764,0.788565,0.057831,0.51,0.511830,9
304,University of San Francisco,1,0.153840,0.120680,0.06,0.629058,0.746314,0.042751,0.62,0.673309,9
335,Webster University,1,0.056459,0.061188,0.02,0.564315,0.694737,0.075221,0.48,0.572664,9