In [22]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

In [23]:
data = pd.read_csv('data/3dfsMerged.csv')

In [24]:
data.head()

,name,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,...,Asian,Black,Hispanic,Native Hawaiian / Pacific Islander,White,Two Or More Races,Unknown,Non-Resident Foreign,Total Minority,total_enrollment
0,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,...,0.046964,0.329897,0.089347,0.002291,0.325315,0.059565,0.026346,0.119129,0.529210,873.0
1,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,...,0.017271,0.022453,0.025907,0.006908,0.554404,0.070812,0.151986,0.000000,0.293610,579.0
2,Albertus Magnus College,Yes,353,340,103,17,45,416,230,13290,...,0.004516,0.332258,0.140000,0.001290,0.417419,0.012903,0.080645,0.007097,0.494839,1550.0
3,Albion College,Yes,1899,1720,489,37,68,1594,32,13868,...,0.018139,0.037066,0.036278,0.000789,0.787855,0.026025,0.062303,0.029180,0.120662,1268.0
4,Alma College,Yes,1267,1080,385,44,73,1306,28,12572,...,0.015043,0.032951,0.036533,0.000716,0.832378,0.025788,0.040115,0.010029,0.117479,1396.0

In [25]:
data

,name,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,...,Asian,Black,Hispanic,Native Hawaiian / Pacific Islander,White,Two Or More Races,Unknown,Non-Resident Foreign,Total Minority,total_enrollment
0,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,...,0.046964,0.329897,0.089347,0.002291,0.325315,0.059565,0.026346,0.119129,0.529210,873.0
1,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,...,0.017271,0.022453,0.025907,0.006908,0.554404,0.070812,0.151986,0.000000,0.293610,579.0
2,Albertus Magnus College,Yes,353,340,103,17,45,416,230,13290,...,0.004516,0.332258,0.140000,0.001290,0.417419,0.012903,0.080645,0.007097,0.494839,1550.0
3,Albion College,Yes,1899,1720,489,37,68,1594,32,13868,...,0.018139,0.037066,0.036278,0.000789,0.787855,0.026025,0.062303,0.029180,0.120662,1268.0
4,Alma College,Yes,1267,1080,385,44,73,1306,28,12572,...,0.015043,0.032951,0.036533,0.000716,0.832378,0.025788,0.040115,0.010029,0.117479,1396.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,Wofford College,Yes,1501,935,273,51,83,1059,34,12680,...,0.028347,0.075392,0.032569,0.001809,0.799759,0.031966,0.004825,0.023522,0.171894,1658.0
354,Worcester Polytechnic Institute,Yes,2768,2314,682,49,86,2802,86,15884,...,0.046074,0.020373,0.061746,0.000000,0.555556,0.026328,0.077574,0.211566,0.155305,6381.0
355,Xavier University,Yes,1959,1805,695,24,47,2849,1107,11520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,Xavier University of Louisiana,Yes,2097,1915,695,34,61,2793,166,6900,...,0.129032,0.701613,0.025874,0.000000,0.070901,0.026210,0.012769,0.032258,0.884073,2976.0
357,Yale University,Yes,10705,2453,1317,95,99,5217,83,19840,...,0.128161,0.054718,0.076119,0.000405,0.478761,0.044342,0.019536,0.193985,0.307717,12336.0

In [26]:
data.columns

Index(['name', 'Private', 'Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
       'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books',
       'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend',
       'Grad.Rate', 'rank', 'state_name', 'early_career_pay', 'mid_career_pay',
       'make_world_better_percent', 'stem_percent', 'Women',
       'American Indian / Alaska Native', 'Asian', 'Black', 'Hispanic',
       'Native Hawaiian / Pacific Islander', 'White', 'Two Or More Races',
       'Unknown', 'Non-Resident Foreign', 'Total Minority',
       'total_enrollment'],
      dtype='object')

In [27]:
drop_cols = ['Top25perc','Top25perc','Outstate', 'Room.Board', 'Books',
       'Personal','PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni','rank', 'state_name', 'early_career_pay', 'mid_career_pay',
       'make_world_better_percent','total_enrollment']

In [28]:
colleges = data.drop(drop_cols, axis=1)

In [29]:
colleges

,name,Private,Apps,Accept,Enroll,Top10perc,F.Undergrad,P.Undergrad,Expend,Grad.Rate,...,American Indian / Alaska Native,Asian,Black,Hispanic,Native Hawaiian / Pacific Islander,White,Two Or More Races,Unknown,Non-Resident Foreign,Total Minority
0,Agnes Scott College,Yes,417,349,137,60,510,63,19016,59,...,0.001145,0.046964,0.329897,0.089347,0.002291,0.325315,0.059565,0.026346,0.119129,0.529210
1,Alaska Pacific University,Yes,193,146,55,16,249,869,10922,15,...,0.150259,0.017271,0.022453,0.025907,0.006908,0.554404,0.070812,0.151986,0.000000,0.293610
2,Albertus Magnus College,Yes,353,340,103,17,416,230,8861,63,...,0.003871,0.004516,0.332258,0.140000,0.001290,0.417419,0.012903,0.080645,0.007097,0.494839
3,Albion College,Yes,1899,1720,489,37,1594,32,11487,73,...,0.002366,0.018139,0.037066,0.036278,0.000789,0.787855,0.026025,0.062303,0.029180,0.120662
4,Alma College,Yes,1267,1080,385,44,1306,28,9305,68,...,0.006447,0.015043,0.032951,0.036533,0.000716,0.832378,0.025788,0.040115,0.010029,0.117479
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,Wofford College,Yes,1501,935,273,51,1059,34,7875,75,...,0.001809,0.028347,0.075392,0.032569,0.001809,0.799759,0.031966,0.004825,0.023522,0.171894
354,Worcester Polytechnic Institute,Yes,2768,2314,682,49,2802,86,10774,82,...,0.000784,0.046074,0.020373,0.061746,0.000000,0.555556,0.026328,0.077574,0.211566,0.155305
355,Xavier University,Yes,1959,1805,695,24,2849,1107,9189,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,Xavier University of Louisiana,Yes,2097,1915,695,34,2793,166,8323,49,...,0.001344,0.129032,0.701613,0.025874,0.000000,0.070901,0.026210,0.012769,0.032258,0.884073
357,Yale University,Yes,10705,2453,1317,95,5217,83,40386,99,...,0.003972,0.128161,0.054718,0.076119,0.000405,0.478761,0.044342,0.019536,0.193985,0.307717

In [30]:
colleges['acceptance_rate'] = colleges['Accept'] / colleges['Apps']

In [31]:
colleges['top10'] = colleges['Top10perc'] / colleges['Enroll']

In [32]:
colleges['stem_percent'] = colleges['stem_percent'] / 100

In [33]:
colleges['grad_rate'] = colleges['Grad.Rate'] / 100

In [34]:
colleges['diversity_score'] = 1 - colleges['White']

In [35]:
for i in colleges.index:
    if colleges.iloc[i]['Private'] == 'Yes':
        colleges.loc[i, ['Private']] = 1
    else:
        colleges.loc[i, ['Private']] = 0

In [36]:
colleges.loc[0, ['Private']]

Private    1
Name: 0, dtype: object

In [37]:
colleges

,name,Private,Apps,Accept,Enroll,Top10perc,F.Undergrad,P.Undergrad,Expend,Grad.Rate,...,Native Hawaiian / Pacific Islander,White,Two Or More Races,Unknown,Non-Resident Foreign,Total Minority,acceptance_rate,top10,grad_rate,diversity_score
0,Agnes Scott College,1,417,349,137,60,510,63,19016,59,...,0.002291,0.325315,0.059565,0.026346,0.119129,0.529210,0.836930,0.437956,0.59,0.674685
1,Alaska Pacific University,1,193,146,55,16,249,869,10922,15,...,0.006908,0.554404,0.070812,0.151986,0.000000,0.293610,0.756477,0.290909,0.15,0.445596
2,Albertus Magnus College,1,353,340,103,17,416,230,8861,63,...,0.001290,0.417419,0.012903,0.080645,0.007097,0.494839,0.963173,0.165049,0.63,0.582581
3,Albion College,1,1899,1720,489,37,1594,32,11487,73,...,0.000789,0.787855,0.026025,0.062303,0.029180,0.120662,0.905740,0.075665,0.73,0.212145
4,Alma College,1,1267,1080,385,44,1306,28,9305,68,...,0.000716,0.832378,0.025788,0.040115,0.010029,0.117479,0.852407,0.114286,0.68,0.167622
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,Wofford College,1,1501,935,273,51,1059,34,7875,75,...,0.001809,0.799759,0.031966,0.004825,0.023522,0.171894,0.622918,0.186813,0.75,0.200241
354,Worcester Polytechnic Institute,1,2768,2314,682,49,2802,86,10774,82,...,0.000000,0.555556,0.026328,0.077574,0.211566,0.155305,0.835983,0.071848,0.82,0.444444
355,Xavier University,1,1959,1805,695,24,2849,1107,9189,83,...,NaN,NaN,NaN,NaN,NaN,NaN,0.921388,0.034532,0.83,NaN
356,Xavier University of Louisiana,1,2097,1915,695,34,2793,166,8323,49,...,0.000000,0.070901,0.026210,0.012769,0.032258,0.884073,0.913209,0.048921,0.49,0.929099
357,Yale University,1,10705,2453,1317,95,5217,83,40386,99,...,0.000405,0.478761,0.044342,0.019536,0.193985,0.307717,0.229145,0.072134,0.99,0.521239

In [38]:
colleges.columns

Index(['name', 'Private', 'Apps', 'Accept', 'Enroll', 'Top10perc',
       'F.Undergrad', 'P.Undergrad', 'Expend', 'Grad.Rate', 'stem_percent',
       'Women', 'American Indian / Alaska Native', 'Asian', 'Black',
       'Hispanic', 'Native Hawaiian / Pacific Islander', 'White',
       'Two Or More Races', 'Unknown', 'Non-Resident Foreign',
       'Total Minority', 'acceptance_rate', 'top10', 'grad_rate',
       'diversity_score'],
      dtype='object')

In [39]:
colleges = colleges.drop(['Apps', 'Accept', 'Enroll', 'Top10perc','P.Undergrad','American Indian / Alaska Native', 'Asian', 'Black',
       'Hispanic', 'Native Hawaiian / Pacific Islander', 'White',
       'Two Or More Races', 'Unknown', 'Non-Resident Foreign',
       'Total Minority', 'Grad.Rate', 'Women'], axis=1)

In [40]:
colleges

,name,Private,F.Undergrad,Expend,stem_percent,acceptance_rate,top10,grad_rate,diversity_score
0,Agnes Scott College,1,510,19016,0.26,0.836930,0.437956,0.59,0.674685
1,Alaska Pacific University,1,249,10922,0.06,0.756477,0.290909,0.15,0.445596
2,Albertus Magnus College,1,416,8861,0.02,0.963173,0.165049,0.63,0.582581
3,Albion College,1,1594,11487,0.23,0.905740,0.075665,0.73,0.212145
4,Alma College,1,1306,9305,0.15,0.852407,0.114286,0.68,0.167622
...,...,...,...,...,...,...,...,...,...
353,Wofford College,1,1059,7875,0.28,0.622918,0.186813,0.75,0.200241
354,Worcester Polytechnic Institute,1,2802,10774,0.86,0.835983,0.071848,0.82,0.444444
355,Xavier University,1,2849,9189,0.07,0.921388,0.034532,0.83,NaN
356,Xavier University of Louisiana,1,2793,8323,0.35,0.913209,0.048921,0.49,0.929099
357,Yale University,1,5217,40386,0.22,0.229145,0.072134,0.99,0.521239

In [41]:
colleges = colleges.dropna()

In [42]:
#colleges.loc[colleges['Women'].isna()]

In [43]:
colleges

,name,Private,F.Undergrad,Expend,stem_percent,acceptance_rate,top10,grad_rate,diversity_score
0,Agnes Scott College,1,510,19016,0.26,0.836930,0.437956,0.59,0.674685
1,Alaska Pacific University,1,249,10922,0.06,0.756477,0.290909,0.15,0.445596
2,Albertus Magnus College,1,416,8861,0.02,0.963173,0.165049,0.63,0.582581
3,Albion College,1,1594,11487,0.23,0.905740,0.075665,0.73,0.212145
4,Alma College,1,1306,9305,0.15,0.852407,0.114286,0.68,0.167622
...,...,...,...,...,...,...,...,...,...
352,Wittenberg University,1,1980,10414,0.22,0.878727,0.073043,0.78,0.197556
353,Wofford College,1,1059,7875,0.28,0.622918,0.186813,0.75,0.200241
354,Worcester Polytechnic Institute,1,2802,10774,0.86,0.835983,0.071848,0.82,0.444444
356,Xavier University of Louisiana,1,2793,8323,0.35,0.913209,0.048921,0.49,0.929099
357,Yale University,1,5217,40386,0.22,0.229145,0.072134,0.99,0.521239

In [44]:
from sklearn.preprocessing import MinMaxScaler

In [45]:
scaler = MinMaxScaler(feature_range=(0,1))

In [46]:
colleges[['F.Undergrad','Expend']] = scaler.fit_transform(colleges[['F.Undergrad','Expend']])

/tmp/ipykernel_4931/1646702672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colleges[['F.Undergrad','Expend']] = scaler.fit_transform(colleges[['F.Undergrad','Expend']])

In [47]:
colleges

,name,Private,F.Undergrad,Expend,stem_percent,acceptance_rate,top10,grad_rate,diversity_score
0,Agnes Scott College,1,0.009890,0.291024,0.26,0.836930,0.437956,0.59,0.674685
1,Alaska Pacific University,1,0.000000,0.136835,0.06,0.756477,0.290909,0.15,0.445596
2,Albertus Magnus College,1,0.006328,0.097573,0.02,0.963173,0.165049,0.63,0.582581
3,Albion College,1,0.050964,0.147598,0.23,0.905740,0.075665,0.73,0.212145
4,Alma College,1,0.040052,0.106031,0.15,0.852407,0.114286,0.68,0.167622
...,...,...,...,...,...,...,...,...,...
352,Wittenberg University,1,0.065591,0.127157,0.22,0.878727,0.073043,0.78,0.197556
353,Wofford College,1,0.030692,0.078790,0.28,0.622918,0.186813,0.75,0.200241
354,Worcester Polytechnic Institute,1,0.096738,0.134015,0.86,0.835983,0.071848,0.82,0.444444
356,Xavier University of Louisiana,1,0.096396,0.087324,0.35,0.913209,0.048921,0.49,0.929099
357,Yale University,1,0.188246,0.698118,0.22,0.229145,0.072134,0.99,0.521239

In [48]:
from sklearn.cluster import KMeans

In [49]:
kmeans = KMeans(n_clusters=40, init='k-means++', random_state=42)

In [50]:
kmeans.fit(colleges.drop(['name'], axis=1))

KMeans(n_clusters=40, random_state=42)

In [51]:
kmeans.labels_

array([ 9,  7,  9, 31, 31, 28,  9, 13, 24, 22, 33, 11,  9, 16,  9, 33, 10,
       33,  5,  5, 23, 11, 32,  1, 28, 39, 31, 26, 32, 37, 39, 18, 31, 33,
       10, 33, 10, 17,  8,  0, 31, 37, 20, 11,  1, 17, 13, 10, 11, 11, 20,
       31, 11, 11, 11,  9, 10, 32, 28, 11, 34, 32, 32, 32, 24, 15, 32, 31,
        1, 28, 29, 20,  8, 10, 38, 24, 10,  2,  7, 18, 14, 29, 37, 34, 34,
        5,  0, 33, 12,  0,  2, 31,  1, 37, 39, 31,  9, 31, 19, 31,  2, 28,
       27, 33, 17, 16, 10, 31,  7, 18, 29, 11,  0, 25, 22, 21,  2, 32,  6,
       24, 29, 33, 20, 33,  2,  1, 37, 39,  1,  0, 34, 10, 39, 10, 33, 31,
        5, 20,  1, 16, 31, 33, 24, 11, 39, 39, 16, 16,  9,  5,  4, 24,  5,
        1, 32, 25, 35, 33, 33, 17, 37, 20, 34,  8, 19, 33, 33,  2, 20, 12,
       23, 32,  9, 31, 20, 36,  0, 29, 20, 38, 33, 20, 11,  9, 32, 29, 31,
       33, 17, 31, 32,  7,  8,  2, 28,  2, 25, 20,  8, 10, 18, 31, 37, 31,
       31,  5, 33,  2, 32,  2, 16,  2,  9, 33,  1, 33,  1, 37, 38, 20, 20,
       20, 16,  2, 19, 33, 37, 18,  2,  5,  2, 16, 31,  1, 15,  0,  3, 14,
       26, 37,  6, 20,  9, 32, 16, 37,  9,  7, 31, 25, 29, 37, 25, 26, 33,
       29,  0,  8, 34, 24,  3, 22, 36,  3, 20,  8, 20,  5,  8, 22,  5, 13,
       21,  0, 20,  8,  0, 13, 11,  0, 38, 10,  5, 20, 11, 38, 37,  9,  2,
        8, 26, 23,  0, 10, 22, 13, 21,  3, 13, 13, 25,  0, 20, 24, 32, 38,
        2,  0, 30, 10,  6, 17, 22, 24,  9, 38, 10, 31, 20, 29, 13, 11, 37,
       37, 33, 28,  8, 34, 33, 31,  2, 18, 15,  6], dtype=int32)

In [52]:
colleges['kmeans_cluster'] = kmeans.labels_

/tmp/ipykernel_4931/3994702276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  colleges['kmeans_cluster'] = kmeans.labels_

In [53]:
colleges

,name,Private,F.Undergrad,Expend,stem_percent,acceptance_rate,top10,grad_rate,diversity_score,kmeans_cluster
0,Agnes Scott College,1,0.009890,0.291024,0.26,0.836930,0.437956,0.59,0.674685,9
1,Alaska Pacific University,1,0.000000,0.136835,0.06,0.756477,0.290909,0.15,0.445596,7
2,Albertus Magnus College,1,0.006328,0.097573,0.02,0.963173,0.165049,0.63,0.582581,9
3,Albion College,1,0.050964,0.147598,0.23,0.905740,0.075665,0.73,0.212145,31
4,Alma College,1,0.040052,0.106031,0.15,0.852407,0.114286,0.68,0.167622,31
...,...,...,...,...,...,...,...,...,...,...
352,Wittenberg University,1,0.065591,0.127157,0.22,0.878727,0.073043,0.78,0.197556,31
353,Wofford College,1,0.030692,0.078790,0.28,0.622918,0.186813,0.75,0.200241,2
354,Worcester Polytechnic Institute,1,0.096738,0.134015,0.86,0.835983,0.071848,0.82,0.444444,18
356,Xavier University of Louisiana,1,0.096396,0.087324,0.35,0.913209,0.048921,0.49,0.929099,15
357,Yale University,1,0.188246,0.698118,0.22,0.229145,0.072134,0.99,0.521239,6

In [57]:
colleges.loc[colleges['kmeans_cluster'] == 7]

,name,Private,F.Undergrad,Expend,stem_percent,acceptance_rate,top10,grad_rate,diversity_score,kmeans_cluster
1,Alaska Pacific University,1,0.000000,0.136835,0.06,0.756477,0.290909,0.15,0.445596,7
81,Ferrum College,1,0.030389,0.080543,0.06,0.826736,0.035714,0.22,0.452102,7
114,Huntingdon College,1,0.010951,0.075513,0.14,0.855263,0.204724,0.44,0.363793,7
200,Pacific University,1,0.030010,0.142435,0.08,0.900318,0.142361,0.42,0.426923,7
263,University of Dubuque,1,0.015649,0.095782,0.07,0.968750,0.080292,0.45,0.336162,7