In [1]:
import pandas

In [2]:
from kmeans_model import train

In [3]:
colleges = train()

In [4]:
colleges

,NAME,Private,F.Undergrad,Expend,stem_percent,Women,acceptance_rate,top10,grad_rate,diversity_score,SAT%,kmeans_cluster
0,Agnes Scott College,1,0.009890,0.291024,0.26,0.993127,0.836930,0.437956,0.59,0.674685,0.793750,36
1,Alaska Pacific University,1,0.000000,0.136835,0.06,0.663212,0.756477,0.290909,0.15,0.445596,0.671875,3
2,Albertus Magnus College,1,0.006328,0.097573,0.02,0.665161,0.963173,0.165049,0.63,0.582581,0.462500,39
3,Albion College,1,0.050964,0.147598,0.23,0.497634,0.905740,0.075665,0.73,0.212145,0.496875,37
4,Alma College,1,0.040052,0.106031,0.15,0.547278,0.852407,0.114286,0.68,0.167622,0.578125,37
...,...,...,...,...,...,...,...,...,...,...,...,...
342,Wittenberg University,1,0.065591,0.127157,0.22,0.569246,0.878727,0.073043,0.78,0.197556,0.700000,6
343,Wofford College,1,0.030692,0.078790,0.28,0.513872,0.622918,0.186813,0.75,0.200241,0.785937,14
344,Worcester Polytechnic Institute,1,0.096738,0.134015,0.86,0.311707,0.835983,0.071848,0.82,0.444444,0.828125,29
346,Xavier University of Louisiana,1,0.096396,0.087324,0.35,0.725470,0.913209,0.048921,0.49,0.929099,0.668750,9
347,Yale University,1,0.188246,0.698118,0.22,0.489705,0.229145,0.072134,0.99,0.521239,0.956250,10

In [5]:
from kmeans_model import find_colleges

In [6]:
output = find_colleges(colleges=colleges, name="Yale University")

In [7]:
output

,NAME,Private,F.Undergrad,Expend,stem_percent,Women,acceptance_rate,top10,grad_rate,diversity_score,SAT%
96,Harvard University,1,6862,37219,0.19,0.485186,0.156149,0.056040,1.00,0.543746,0.956250
113,Johns Hopkins University,1,3566,56233,0.31,0.519792,0.406656,0.082327,0.90,0.523863,0.946875
300,Wake Forest University,1,3499,41766,0.13,0.512583,0.422540,0.083056,0.89,0.286852,0.890625